* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

 :root {
    --bg-color: black;
    --color-text: white;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Proxima Nova";
    background-image: linear-gradient(#00000038, black), url(https://wallpapercave.com/wp/wp2164176.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.header {
    position: sticky !important;
    top: 0px !important;
    opacity: 0.9;
    background-color: var(--bg-color);
    background: transparent;
    z-index: 1;
    animation: slidedown 3s;
}

.header span i {
    color: var(--color-text);
}

@keyframes slidedown {
    0% {
        transform: translateY(-170px);
    }
    100% {
        transform: translateY(0);
    }
}

.header .logo {
    color: var(--color-text);
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.head_list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.head_list li a {
    font-weight: 600;
    position: relative;
    top: 7px;
    text-decoration: none;
    font-size: large;
    color: var(--color-text);
    transition: all 0.5s ease;
    position: relative;
    transition: all 0.8s ease;
}

.head_list li a:hover {
    color: orange;
    cursor: pointer;
}


/* slide-bar-start */

.slide-bar {
    position: absolute;
    top: 85px;
    z-index: 1;
    transition: all 3s ease-in;
}

#show_bar .card-body {
    background-color: var(--bg-color) !important;
}

.bar_content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    list-style-type: none;
}

.bar_content li a {
    font-weight: 600;
    text-decoration: none;
    line-height: 40px;
    font-size: large;
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.5s ease;
}

.bar_content li a:hover {
    color: orange;
}


/* slide-bar-end */

@media only screen and (max-width:767px) {
    .head_list {
        display: none;
    }
}

@media only screen and (min-width:768px) {
    .header span {
        display: none;
    }
}

.head_section {
    background: transparent;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.heading_banner {
    font-size: 5rem !important;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.banner_text {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    word-spacing: 2px;
    letter-spacing: 1.5px;
}

.head_button1 {
background: transparent;
    color: white;
    transition: all 0.8s ease;
    padding: 12px 10px !important;
    font-size: small;
    word-spacing: 1.5px;
    letter-spacing: 1px;
border: 1px solid white;
transition: all 2s ease;
}

.head_button1:hover {
background-color: white;
color: black;
}
.head_button2 {
background: var(--bg-color);
        color: var(--color-text);
        transition: all 0.8s ease;
        padding: 12px 10px !important;
        font-size: small;
        word-spacing: 1.5px;
        letter-spacing: 1px;
        transition: all 2s ease;
    }
    
    .head_button2:hover {
        background-color: var(--color-text);
        color: var(--bg-color);
    }
.content_1,
.content_3 {
    background-color: #F3F6FB;
}

.content_1 .text,
.content_3 .text {
    font-size: large;
    line-height: 1.8rem;
    word-spacing: 2px;
}

.content_1 .service_text {
    font-size: 50px;
    color: black;
    font-weight: 800;
}

.content_1 .text_part,
.content_3 .text_part {
    color: black;
    font-weight: bold;
}

.content_button {
    background-color: var(--bg-color);
    color: var(--color-text);
    padding: 11px 0 !important;
}

.content_button:hover {
    background-color: var(--color-text);
    color: var(--bg-color);
}

.content_2 .text_part {
    color: white !important;
    font-weight: bold;
    font-size: 35px;
}

.content_2 .text {
    color: white;
    word-spacing: 2px;
    font-size: large;
    line-height: 1.8rem;
}

.content_button_2 {
    background-color: white;
    color: black;
    font-size: medium;
}

.content_button_2:hover {
    color: white;
    background-color: black;
}